.mat-mdc-paginator {
    .mat-mdc-form-field .mat-mdc-text-field-wrapper {
        height: 40px;
        width: 60px;
    }
    .mat-mdc-select-value {
        text-align: center;
    }

    .mat-mdc-paginator-page-size {
        margin-right: 0;
    }

    .mat-mdc-paginator-range-label {
        margin-left: 0;
    }

    .mat-mdc-select-arrow {
        width: 9px;
        height: 9px;
        border-top: 2px solid $dark-color;
        border-right: 2px solid $dark-color;
        margin-right: 10px;
        transform: rotate(134deg);

        svg {
            display: none;
        }
    }

    .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
        transform: translate(-3px, -4px) !important;
        -webkit-transform: translate(-3px, -4px) !important;
        -moz-transform: translate(-3px, -4px) !important;
        -ms-transform: translate(-3px, -4px) !important;
        -o-transform: translate(-3px, -4px) !important;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        width: 38px;
        height: 38px;
        padding: 7px;
        margin-top: 0;
    }

    .mat-mdc-paginator-range-label {
        margin: 0 19px 0 0px;
    }
}

